<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">FRCC Membership</h1>
    </div>
</div>
<!--
<div class="topcoat-button-bar buttongroup">
  <div class="topcoat-button-bar__item" style="border-right:solid 1px;">
	<button class="topcoat-button-bar__button">Chinese</button>
  </div>
  <div class="topcoat-button-bar__item">
	<button class="topcoat-button-bar__button">English</button>
  </div>  
</div>
-->
<div class="topcoat-list__container scroller" style="top:69px;">
	 <form class="loginForm" name="loginForm" ng-submit="login();">
		<div>
			<span>Username:</span>
			<input type="text" ng-model="username" class="topcoat-text-input" value="cyang255">
		</div>
		<div>
			<span>Password:</span>
			<input type="password" ng-model="password" class="topcoat-text-input" value="126255">
		</div>
		<div>
			<button class="topcoat-button loginbtn">Login</button>
		</div>
	</form>
</div>