<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">My Zones</h1>
    </div>
	<div class="logout-button" ng-click="logout();">
		<span>Logout</span>
	</div>
</div>
<div class="topcoat-list__container scroller" style="top:65px;">
    <ul class="topcoat-list list">
        <li ng-repeat="zone in zonelist" class="topcoat-list__item">
            <a ng-click="showHomeGroups({{$index}})">
                <p>{{zone.leadername}}</p>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
</div>